.card {
    background-color: #F9FAFB;
    max-width: 400px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    padding: 24px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;

    &-icon {
        background-color: #3f75fe;
        color: #fff;
        padding: .5em;
        border-radius: 6px;
        position: absolute;
        bottom: 90%;
        box-shadow: 0 4px 6px -2px #0000000d;
        font-size: 24px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        max-width: 48px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }

    &-title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 2px;
        color: #111827;
        margin-bottom: 20px;
    }

    &-text {
        font-size: 16px;
        color: #6B7280;
    }

    &:hover {
        box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.4);
    }

}




