/******************************
GENERAL
******************************/

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(63 63 70);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.main {
    max-width: 1378px;
}



/******************************
TESTIMONIALS SECTION
******************************/

.testimonials:first-of-type {
    @media only screen and (max-width: 767px) {
        margin-top: 108px;
    }
}